name: Run unit tests

on:
  push:
    branches:
      - main
    tags:
      - "*"
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - name: Set up JDK 21
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5
        with:
          java-version: "21"
          distribution: "temurin"
      - name: Setup Gradle
        uses: gradle/gradle-build-action@ac2d340dc04d9e1113182899e983b5400c17cda1 # v3
      - name: Build project
        run: ./gradlew test
      - name: Test report
        uses: dorny/test-reporter@fe45e9537387dac839af0d33ba56eed8e24189e8 # v2
        if: ${{ !cancelled() }}
        with:
          name: Test results
          path: build/test-results/test/TEST-*.xml
          reporter: java-junit
