name: Run unit tests

on:
  push:
    branches:
      - main
    tags:
      - "*"
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Set up JDK 21
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5
        with:
          java-version: "21"
          distribution: "temurin"
      - name: Setup Gradle
        uses: gradle/gradle-build-action@ac2d340dc04d9e1113182899e983b5400c17cda1 # v3
      - name: Build project
        run: ./gradlew test
      - name: Test report
        uses: dorny/test-reporter@b082adf0eced0765477756c2a610396589b8c637 # v2
        if: ${{ !cancelled() }}
        with:
          name: Test results
          path: build/test-results/test/TEST-*.xml
          reporter: java-junit
